@font-face {
    font-family: 'Homemade Apple';
    src: url('./fonts/HomemadeApple-Regular.ttf');
}
@font-face{
    font-family: 'Rock Salt'; 
    src: url('./fonts/RockSalt-Regular.ttf')
}



h1{
    color: rgb(255, 255, 255);
    text-align: center;
    font-family: 'Rock Salt', cursive;
    font-size: 4em;
}

/* div.Banner{ */
/*     text-align: center; */
/*     color: #0dff0d; */
/*     font-size: 50% 20em; */
/*     font-family: 'Satisfy', cursive; */
/* } */

body{
    background-image: url('Pix/ios-linen.jpg');
}

div.eintrage{
    text-align: center;
    font-size: 40px;
}

a{
    color: white;
    font-family: 'Homemade Apple', cursive;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
a:visited {
    text-decoration: none;
}

div.buttons{
    bottom: 0;
    height: 100%;  
    text-align: left;
    position: fixed;
    font-size: 30px;  
}

div.buttons:hover{
    text-decoration: none;
}

div.buttons:visited {
    text-decoration: none;
}


