h1{
    font-style: italic;
    color: red;
    text-align: center;
}

pre{
    text-align: center;
    font-size: 150%;
    color: green;
}

body{
    background-color: black;
}

a{
    font-size: 150%;
    text-align: center;
}
